node_modules/
.DS_Store
**/.DS_Store
midprocessors/**/node_modules

preprocessor_*
midprocessor_*
postprocessor_*

preprocessors/**/*.*
midprocessors/**/*.*
postprocessors/**/*.*

!preprocessors/*.md
!midprocessors/*.md
!postprocessors/*.md

# officially supported modules
!midprocessors/drop_schema/**
!midprocessors/drop_table/**
!midprocessors/faker_middie/**
!postprocessors/faker_post/**

npm-debug*

result.sql