node_modules
.DS_Store
**/.DS_Store

preprocessor_*
midprocessor_*
postprocessor_*

preprocessors/**/*.*
midprocessors/**/*.*
postprocessors/**/*.*

!preprocessors/*.md
!midprocessors/*.md
!postprocessors/*.md

result.sql